<ion-content [scrollY]="false">
  <ion-toolbar>
    <ion-title>
      Select Price
    </ion-title>
  </ion-toolbar>
  <div class="price-filter">
    <ng5-slider
      [(value)]="minValue"
      [(highValue)]="maxValue"
      [options]="options"
    ></ng5-slider>
  </div>
  <div class="button-div">
    <ion-button color="secondary" (click)="closePriceModal()">Done</ion-button>
      <ion-button color="secondary">Clear Filter</ion-button>
      <ion-button color="secondary" (click)="closePriceModal()">Cancel</ion-button>
  </div>
</ion-content>
